@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --bg-color: #494646;
  --main-color: #AD6A85;
  --main-color-higlight: #a34871;
}

body {
  padding:10px;
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--bg-color);
  color: var(--main-color);
}

a:link, a:visited{
  color: var(--main-color);
}
a:hover{color:var(--main-color-higlight)}